.App {
  text-align: center;
}


.Box {
  border-style: solid;
  border-color: purple;
  max-width: 20%;
  max-height: 20%;
}

.Circle {
  border-style: solid;
  border-color: purple;
  border-radius: 50%;
  max-width: 20%;
  max-height: 20%;
}

.Centrado {
  margin-left: auto;
  margin-right: auto;
}

.RoundButton {
  background-color: darkcyan;
  border-radius: 5px;
  border-style: solid;
  border-color: red;
}