.Box {
  border-style: solid;
  border-color: purple;
  max-width: 40%;
  max-height: 40%;
}

.Circle {
  border-style: solid;
  border-color: purple;
  border-radius: 50%;
  max-width: 40%;
  max-height: 40%;
}

.Centrado {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.RoundButton {
  background-color: darkcyan;
  border-radius: 5px;
  border-style: solid;
  border-color: red;
}

.Border {
  border-style: solid;
  border-color: black;
  max-width: 50%;
  max-height: 50%;
}